<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319605156956-4lp6a11gbqqcihn7r4b45k2e9oclm5q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319605156956-4lp6a11gbqqcihn7r4b45k2e9oclm5q3</string>
	<key>API_KEY</key>
	<string>AIzaSyB9f2cai1zaGCDYso1mL7OvaGht7krwjxg</string>
	<key>GCM_SENDER_ID</key>
	<string>319605156956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tedmotta.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-86cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-86cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319605156956:ios:255b88704208e1ee568a99</string>
</dict>
</plist>